.info {
    text-align: center;
    margin: 1.5rem;
    font-size: 1.2rem;
    font-family: fantasy;
}

.browse {
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
}

.startimg {
    width: 30%;
    height: 100px;
}
.loginText{
    margin: 2rem;
    text-align: center;
    font-size: 1.15rem;
}
.login-create{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}
.home{
    text-align: center;
}

.home > img {
    width: 20%;
    height: 30px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 1rem;
    width: 35%;
    border: 1px solid brown;
    padding: 6px;
}

.card-text{
    text-align: center;
}